fastapi
uvicorn
redis
fastapi-redis-cache
pydantic
python-dotenv
httpx
flower
asyncpg
databases
aiosqlite
motor
python-multipart
itsdangerous
starlette-session
user_agents
qrcode
sockets
bcrypt
mysql.connector
fastcore==1.5.29
aiofiles
opencv-python
moviepy
mediapipe
pygame
pymysql
cryptography
jinja2==3.1.2